form.signup,
form.login {
  margin-top: 50px;
}

.test {
  background-image: url(../images/rhino.jpg);
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.formStyle {
  color: white;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  width: 25%;
  height: 25%;
}


.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.rhinoBG 
  {
    background-image: url('https://c402277.ssl.cf1.rackcdn.com/photos/18354/images/hero_full/Black_Rhino_WW1106963.jpg?1576697206');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#elephantJumbo {
  background-image: url(../images/africanElephant.jpg);
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100vw;
}
#rhinoInfo {
    opacity: 0.7;
    padding: 20px;
    font-family: 'PT Serif', serif;
    size: 20px;
    font-weight: bold;
    color: #3C3E3E;
}

.rhinoProfilePic {
  max-height: 600px;
  max-width: 500px;
  padding: 15px;
  margin-right: 20px;
}

#rhinoInfoBasicInfo {
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
}

hr {
  height: 2px;
    width: 55%;
    background-color: #2c1e15;
}
.rhinoH1 {
  font-size: 100px;
  opacity: 1;
}

#rhinoInfoP {
  font-size: 20px;
}

#rhinoInfoSpecies {
  font-size: 20px;
}