form.signup,
form.login {
  margin-top: 50px;
}

.test {
  background-image: url(../images/rhino.jpg);
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.formStyle {
  color: white;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#rhinoInfo {
    opacity: 0.8;
}

.profilePic {
  max-height: 400px;
  max-width: 400px;
}

ul {
  list-style-type: none;
}

.rhinoH1 {
  font-size: 100px;
}
